c-account-info {
  display: flex;
  padding: 1rem;
  border-bottom: 1px solid var(--border-color);

  > span {
    flex: 1;
    height: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  > button,
  > a {
    flex: 0;
    padding: 0;
    border: none;
    width: 1rem;
    height: 1rem;
    margin-left: .5rem;
    cursor: pointer;
  }
}
