:root {
  --text-s: .8rem;
  --text-m: .9rem;
  --text-l: 1rem;
  --text-xl: 1.1rem;

  --text-light: #8f8f8f;
  --text-dark: #2a3041;

  --background-light: white;
  --background-dark: #f5f5f5;

  --light-grey: #f5f5f5;
  --border-color: #ccc;
}
